*.parquet filter=lfs diff=lfs merge=lfs -text
structured_results_text_classification_20250321_011141.json filter=lfs diff=lfs merge=lfs -text
propaganda_model/propaganda_detection_model_epochs3.pt filter=lfs diff=lfs merge=lfs -text
*.{pt,zip} filter=lfs diff=lfs merge=lfs -text